
{% assign images = include.images | split: ';' %}
{% assign type = include.type | default: "simple" %}
{% assign gallery = images[0] %}

{% if type == "grid" %}
  <div class="gallery-grid">
    {% for image in images %}
      {% assign parts = image | split: '>' %}
      {% assign src = parts[0] | strip %}
      {% assign caption = parts[1] | default: "" | strip %}
      <div class="gallery-image">
        <a href="{{ src | relative_url}}" data-lightbox="{{ gallery }}" title="{{ caption }}">
         <img src="{{ src | relative_url}}" title="{{ caption }}">
        </a>
      </div>
    {% endfor %}
  </div>

{% elsif type == "justified"%}
  <div id="gallery-{{ gallery }}">
  {% for image in images %}
    {% assign parts = image | split: '>' %}
    {% assign src = parts[0] | strip %}
    {% assign caption = parts[1] | default: "" | strip %}
    <a href="{{ src | relative_url}}" data-lightbox="{{ gallery }}" title="{{ caption }}">
      <img src="{{ src | relative_url}}" title="{{ caption }}" title="{{ caption }}">
    </a>
    {% endfor %}
  </div>
  
{% else %}
  <div class="gallery-simple">
    {% for image in images %}
      {% assign parts = image | split: '>' %}
     {% assign src = parts[0] | strip %}
     {% assign caption = parts[1] | default: "" | strip %}
     <div class="gallery-image">
        <a href="{{ src | relative_url}}" data-lightbox="{{ gallery }}" title="{{ caption }}">
         <img src="{{ src | relative_url}}" title="{{ caption }}">
        </a>
        <div class="gallery-caption">{{ caption }}</div>
      </div>
    {% endfor %}
  </div>
{% endif %}
