<header class="site-header">
  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.minima.nav_pages | default: default_paths -%}
    {%- assign page_titles = site.pages | map: 'title' | compact %}
    <a class="site-title" href="{{ site.baseurl }}/">
      <img src="{{ '/assets/images/logo.png' | relative_url }}" class="site-logo" width="100" height="auto">
    </a>

    {%- unless page_titles == empty %}
      <nav class="site-nav">
        <!-- 1. checkbox -->
        <input type="checkbox" id="nav-trigger" class="nav-trigger" style="opacity:0">

        <!-- 2. label that toggles the checkbox -->
        <label for="nav-trigger" class="nav-toggle">
          <img src="{{ '/assets/images/icon-hamburger-menu.png' | relative_url }}" alt="Menu" width="28" height="28">
        </label>

        <!-- 3. menu that should be shown/hidden -->
        <div class="nav-menu">
          {% include nav-items.html paths = page_paths %}
        </div>
      </nav>
    {%- endunless %}
  </div>
    <script src="/assets/js/nav.js"></script>
</header>


