// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.featured-image-post {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.blog-roll-image {
  width: 150px;
  height: 7 * $spacing-unit;
  object-fit: cover;
  float: left;
  margin-right: 20px; 
}

/* Image: shrink + center */
p > img {
  display: block;
  margin: 0 auto;    /* center horizontally */
  width: 40%;        /* shrink image */
}

/* Caption: just center text */
p > img + em {
  display: block;
  text-align: center;
  margin-top: 0.5em;
  color: grey;
}

.post-list li {
  overflow: auto; /* contain floated children */
  margin-bottom: 1rem; /* spacing between posts */
}

.post-list li hr {
  clear: both;  /* force <hr> below image */
}

.post-list li img.blog-roll-image {
  display: block;      /* prevents weird inline gaps */
  margin-bottom: 0.5rem; /* space between image and whatever follows */
}

.gallery-image {
  text-align: center;         /* center image + caption */
}

.gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* two equal columns */
  column-gap: 0.5em; /* spacing between columns */
  row-gap: 0.5em;  /* spacing between rows */
  margin-top: 20em;            /* spacing between image and caption */
}

.gallery-grid .gallery-image img {
  max-width: 100%;
}

.gallery-simple {
  display: flex;
  flex-wrap: wrap;       /* allow images to wrap to next line */
  justify-content: center; /* center images horizontally */
}

.gallery-simple .gallery-image img {
  max-width: 80%;
  margin-top: 1em;
}

.gallery-caption {
  font-style: italic;
  color: #adadad;
}

